<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSV/PRN Parser</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="http://simpleupload.michaelcbrook.com/js/simpleUpload/simpleUpload.min.js"></script>
</head>
<body>
<input type="file" id="fileInput" name="file"/>
<button onclick="parseFile()">Submit</button>
<div id="result"></div>

</body>
<script src="/simpleUpload-parseFile.js"></script>
</html>